body{
	padding: 0;
	margin: 0;
	width: 100%;
}
header {
}
.bg{
 width: 100%;
 display: block;
 margin: 0 auto;
}
.container{
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
}
.header-line {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.socials > a {
	text-decoration: none;
}
.phone p{
	font-size: 12px;
    color: #636363;
    font-weight: 400;
    font-family: "Merriweather",serif;
    font-style: italic;
    margin-bottom: 0;
}
.fa-phone-alt:before{
	color: #636363;
	left: 10px;
	font-size: 20px;
	text-decoration: none;
}
.phone span a{
	text-decoration: none;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #c6a259;
}
.menu .logo-wrapp{
	position: relative;
    left: 39%;
    margin-bottom: -105px;
    z-index: 5;
}
.menu .logo-wrapp img{
	margin-top: -55px;
}
.menu .top-left{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	list-style-type: none;
	margin-top: 30px;
	margin-left: -35px;
}
.menu .top-left li{
	padding-right: 30px;
}
.menu .top-right{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	list-style-type: none;
	margin-top: -40px;
	margin-right: -35px;
}
.menu .top-right li{
	padding-right: 30px;
}
.menu ul{
	list-style: none;
}
.menu li  ul{
	background: #ffffff;
	padding: 2px;
	z-index: 1;
	position: absolute;
	display: none;
	line-height: 2.5;
}
.menu li:hover > ul{
	display: block;
	z-index: 5;
}
.menu li ul > li:hover{
	background: #c6a259;
}
.menu li  ul li > .hover:hover{
	color: #fff;
}
.menu li > ul li a{
	font-family: 'Merriweather';
	font-style:italic;
	font-weight: 400;
	line-height: 1.2;
	text-transform: none;
	padding: 30px;
	text-align: left;
}
.menu li > a{
	font-family: 'Merriweather',sans-serif;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}
.menu ul li > a:hover{
	color:#ad8d4b;
}
.menu ul .fa-angle-down{
	font-size: 17px;
}
.header-line .socials i{
	font-size: 20px;
    line-height: 32px;
    color: #c6a259;
    font-weight: 400;
    height: 33px;
    width: 33px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    margin-right: 12px;
}
.header-line .socials i:hover{
	color:black;
}
.slider {
	position: relative;
}
.slider > img {
	width: 100%;
}
.slider-title {
	position: absolute;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.slider-title .main-page-text h1{
	font-family: 'Merriweather',serif;
	font-size: 60px;
	font-style: italic;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.slider-title .main-page-text u{
	font-size: 80px;
    line-height: 1.2;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
    text-decoration: none;
}
.slider-title .main-page-text span{
	font-size: 25px;
    line-height: 1.2;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.slider-title .main-page-text span:before{
	display: block;                
    width:3%;                    
    content: '';                    
    position: absolute;             
    border-bottom: 2px solid #f8f8f8;   
    top:64%;                        
    left: 37%; 
}
.slider-title .main-page-text span:after{
	display: block;                
    width:3%;                    
    content: '';                    
    position: absolute;             
    border-bottom: 2px solid #f8f8f8;   
    top:64%;                        
    right: 37%; 
}
.start-content .text2 ul{
	list-style-type: none;
}
.start-content .main-info {
	column-count: 2;
	column-gap: 200px;
}
.start-content .offer-list li a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
	transition: .2s ease-in-out;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 400;
}
.text2 h3{
	margin: 15px 0;
}
.start-content .offer-list a:hover{
	color: #ad8d4b;
}
.start-content{
	padding: 90px 0 90px 0;
}
.start-content .text2 .offer-list li:before{
	content: '';
    display: block;
    position: relative;
    top: 25px;
    right: 40px;
    width: 22px;
    height: 22px;
    background: url("../img/list_icon.png");
}
.start-content h2 > em{
	display: block;
    text-transform: none;
    font-style: normal;
    font-family: "Arapey",serif;
    font-size: 34px;
    line-height: 1.25;
    color: #272829;
    font-weight: 500;
    padding-bottom: 5px;
}
.start-content h2{
	font-size: 48px;
    line-height: 1.2;
    color: #272829;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    margin-bottom: 22px;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
}
.start-content h3{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
}
.start-content h2:before{
	content: '';
    display: block;
    position: relative;
    bottom: -120px;
    left: 0;
    top: auto;
    width: 115%;
    height: 1px;
    background: #c6a259;
}
.start-content p{
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
}
.more{
	font-family: "Merriweather",serif;
    font-size: 16px;
    line-height: 24px;
    color: #c6a259;
    font-weight: 400;
    text-transform: lowercase;
    display: inline-block;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    font-style: italic;
    padding: 30px 0 0;
    position: relative;
}
.more:hover{
	color:#c6a259;
}
.more:before{
	content: '';
    display: block;
    position: absolute;
    right: -26px;
    bottom: 9px;
    height: 5px;
    width: 17px;
    background: url('../img/more-arrow.png') no-repeat;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.bg2{
	width: 100%;
}
.main-text{
  margin: 0 auto
}
.services .con {
	display: flex;
	justify-content: space-between;
}
.text-block {
	text-align: center;
}
.services a {
	color: white;
	transition: .2s ease-in-out;
	text-decoration: none;
}
.services a img {
	transition: .2s ease-in-out;
}
.services {
	background-image: url("../img/bg2_02.jpg");
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
.services h3 {
	padding-top: 70px;
	padding: 50px;
	font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: 'Merriweather',serif;
    text-decoration: none;
    font-style: italic;
	margin-bottom: 30px;
	margin-top: 30px;
}
.services .con  a:hover {
	color: #ad8d4b;
}
.services .con  a:hover img {
	opacity: .5
}
.text-block h4 {
	font-weight: 700;
	position: relative;
}
.text-block h4:before {
	content: '';
	position: absolute;
	display: block;
}
.text-block h4:after {
	content: '';
	position: absolute;
	display: block;
}
.image {
	width: 115px;
	height: 86px;
	background-image: url('../img/flower.png');
	background-size: cover;
	margin-left: 15px;
	margin-bottom: 20px;
}
.image.second-image{
	width: 115px;
	height: 86px;
	background-image: url('../img/water.png');
	background-size: cover;
	margin-left: 15px;
	margin-bottom: 20px;
}
.image.third-image{
	width: 115px;
	height: 86px;
	background-image: url('../img/car.png');
	background-size: cover;
	margin-bottom: 20px;
}
.image.fourth-image{
	width: 115px;
	height: 86px;
	background-image: url('../img/lighter.png');
	background-size: cover;
	margin-bottom: 20px;
}
.services .services-wrapp .text-block h4{
	font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
}
.services .services-wrapp{
	margin-bottom: 90px;
}
.services .services-wrapp{
	width: 230px;
	height: 230px;
	position: relative;
	transition: .2s ease-in-out;
}
.services .services-wrapp:before{
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 232px;
	height: 232px;
	border: 1px dashed #8e877a;
}
.services-wrapp:hover{
  background:#ad8d4b;
}
.services .services-wrapp a{
	display: block;
	padding: 40px;
}
.content2 {
	padding: 130px 0;
}
.content2 .content-menu h3{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 500;
	padding-bottom: 50px;
}
.content2 .content-menu p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-style:italic;
}
.content2 .content-menu .text4 span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.content2 .content-menu {
	column-count: 2;
	column-gap: 200px;
}
.content2 .content-menu .text4:before {
	content: '';
    display: block;
    position: relative;
    top: 90px;
    left: -30px;
    width: 25px;
    height: 17px;
    background: url('../img/kavichki.png') no-repeat;
}
.content2 .content-menu .text4:after {
	content: '';
    display: block;
    position: relative;
    top: auto;
    left: auto;
    bottom: 40px;
    right: -500px;
    width: 25px;
    height: 17px;
    background: url('../img/kavichki.png') no-repeat;
    transform: rotate(180deg);
}
.content3 {
	background-image: url("../img/bg_06.png");
	padding: 100px;
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    text-transform: uppercase;
	color: white;
}
.content3 .text-menu h2{
	font-family: 'Merriweather', serif;
	font-size: 50px;
	font-style: italic;
	font-weight: 700;
	text-transform: none;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
}
.content3 .text-menu span{
	font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.content3 a{
    text-decoration: none;
    font-family: "Merriweather",serif;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    padding: 15px 40px;
    background: #c6a259;
    letter-spacing: normal;
    text-shadow: none;
    position: relative;
    transition: .2s ease-in-out;
    display: inline-block;
}
.content3 .request a:before{
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #c6a259;
}
.content3 .request a:hover{
	background:#000;
}
.contacts .logo-down{
	position: relative;
    left: 42%;
    margin-bottom: -90px;
}
.contacts .logo-down img{
	height: 125px;
}
.contacts .left{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	list-style-type: none;
}
.contacts .right{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	list-style-type: none;
	margin-top: -88px;
}
.contacts a{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	color: #ad8d4b;
	text-decoration: none;
}
.contacts li >h5{
	font-family: Merriweather;
	font-weight: 700;
	font-size: 16px;
}
.contacts li{
	margin-right: 50px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
}
.contacts i{
	font-size: 20px;
    line-height: 32px;
    color: #c6a259;
    font-weight: 400;
    height: 33px;
    width: 33px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    margin-right: 12px;
    text-decoration: none;
}
.contacts a i:hover{
	color:black;
}
.contacts .social i{
	margin-top: 10px;
	padding-right: 15px;
}
.contacts .contacts-info{
	margin: 80px 0 50px 0;
}
.copyrights{
	font-family: 'Open Sans';
	font-size: 12px;
    font-weight: 400;
    color: #c8d4cd;
    padding: 20px;
    text-align: center;
    background: #272829;
    text-transform: uppercase;
}
.copyrights a{
	color:gold;
}
@media screen and (max-width: 375px) {
	.header-line .socials{
		display: none;
	}
	.header-line .phone p{
		display: none;
	}
	.header-line .phone span{
		display: none;
	}
	.fa-phone-alt{
		color: #636363;
		left: 10px;
		font-size: 20px;
		text-decoration: none;
	}
	.menu .top-right{
		display: none;
	}
	.menu .top-left{
		display: none;
	}
	.menu .logo-wrapp{
		position: relative;
	    left: 10.5%;
		margin-top: 10px;
	    z-index: 5;
	}
	.menu .logo-wrapp img{
		margin-bottom: 110px;
	}
	.main-page .slider .main-page-text h1{
		font-size: 25px;
	}
	.main-page .slider .main-page-text span{
		font-size: 10px;
	}
	.main-page .slider .main-page-text u{
		font-size: 30px;
	}
	.slider-title .main-page-text span:before{
		display: none;
	}
	.slider-title .main-page-text span:after{
		display: none;
	}
	.bg{
		position: relative;
	}
	.slider-title{
		position: relative;
		height: 100px;
		background: #46423b;
	}
	.start-content{
		padding: 20px;
	}
	.start-content h2:before{
		content: '';
	    display: block;
	    position: relative;
	    bottom: -180px;
	    left: 0;
	    top: auto;
	    width: 100%;
	    height: 1px;
	    background: #c6a259;
	}
	.start-content .main-info{
		column-count: 0;
		column-gap: 0;
		display: flex;
		flex-direction: column;
	}
	.start-content .main-info .text h2{
		text-align: center;
	}
	.start-content .main-info .text p{
		font-size: 15px;
	}
	.services {
		background-position-x: 60%;
	}
	.services .services-wrapp{
    	height: 163px;
	}
	.services .con{
		flex-direction: column;
	}
	.services .text-block{
		margin-right: 0;
    	width: 162px;
    	margin-bottom: 13px;
	}
	.content2 .content-menu h3{
		font-size: 25px;
		text-align: center;
	}
	.content2 .content-menu{
		display: flex;
		flex-direction: column;
	}
	.content2 .content-menu .text4:before{
		content: '';
    	display: block;
   		position: relative;
    	top: 90px;
    	left: -10px;
    	width: 25px;
   		height: 17px;
    	background: url('../img/kavichki.png') no-repeat;
	}
	.content2 .content-menu .text4:after{
		content: '';
   	 	display: block;
    	position: relative;
    	top: auto;
    	left: auto;
    	bottom: 40px;
   	 	right: -300px;
   	 	width: 25px;
    	height: 17px;
    	background: url('../img/kavichki.png') no-repeat;
    	transform: rotate(180deg);
    }
    .content3 {
    	background-position-x: 55%;
    	padding: 20px;
	}
	.content3 .text-menu h2{
		font-size: 30px;
	}
	.content3 .text-menu span{
		font-size: 24px;
	}
	.content3 a{
	    font-size: 15px;
		margin: 30px;
	}
	.contacts .logo-down{
		position: relative;
	    left: 20%;
	    margin-top: -80px;
	}
	.contacts .logo-down img{
		height: 125px;
	}
	.contacts .left{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 100px;
	}
	.contacts .left .phone-number{
		margin-top: 30px;
	}
	.contacts .right{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 40px;
	}
	.contacts .right .follow{
		margin-top: 30px;
	}
	.copyrights{
		padding: 10px;
	}
}