body{
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.2;
}
header {
	position: relative;
	box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.8);
    z-index: 10;
}

.container{
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
}
.header-line {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.header-line .socials i{
	font-size: 20px;
    line-height: 32px;
    color: #c6a259;
    font-weight: 400;
    height: 33px;
    width: 33px;
    padding-left: 5px;
    margin-right: 15px;
}
.header-line .socials i:hover{
	color:black;
	border: 1px solid #e8ede7;
	border-radius: 10px 0px 10px 0px;
}
.socials > a {
	text-decoration: none;
}
.phone p{
	font-size: 12px;
    color: #636363;
    font-weight: 400;
    font-family: "Merriweather",serif;
    font-style: italic;
    padding-left: 5px;
}
.fa-phone-alt{
	color: #636363;
    text-decoration: none;
    position: absolute;
    left: 86%;
    top: 30%;
    font-size: 15px;
}
.phone a{
	text-decoration: none;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #c6a259;
}
.menu{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
    padding-bottom: 30px;
}
.menu .top-left > li{
	padding-right: 35px;
}
.menu .top-right > li{
	padding-left: 35px;
}
.menu .logo-wrapp{
	position: absolute;
    left: 51%;
    top: 60%;
    z-index: 5;
    transform: translate(-50%, -50%);
}
.menu .top-left{
	display: flex;
}
.menu .top-right{
	display: flex;
}
.menu li  ul{
	background: #ffffff;
	padding: 2px;
	z-index: 1;
	position: absolute;
	display: none;
	list-style-type: none;
	top: 95%;
    left: 28%;
}
.menu li:hover > ul{
	display: block;
	z-index: 5;
}
.menu li ul > li:hover{
	background: #c6a259;
}
.menu li  ul li > .hover:hover{
	color: #fff;
}
.menu li > ul li a{
	font-family: 'Merriweather', sans-serif;
	font-style:italic;
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 5px;
}
.menu .top-left ul li{
	padding-top: 15px;
	padding-bottom: 5px;
}
.menu li > a{
	font-family: 'Merriweather',sans-serif;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}
.menu ul li > a:hover{
	color:#ad8d4b;
}
.menu ul .fa-angle-down{
	font-size: 17px;
}
.main-page{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0px 150px 0px;
}
.slider-title .main-page-text{
	text-align: center;
}
.slider-title .main-page-text h1{
	font-family: 'Merriweather',serif;
	font-size: 60px;
	font-weight: 700;
	color: white;
	font-style: italic;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.slider-title .main-page-text .subtitle-text{
	font-size: 80px;
    line-height: 1.2;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
    text-decoration: none;
}
.slider-title .main-page-text .subtitle-text2{
	font-size: 25px;
    line-height: 1.2;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
    position: relative;
}
.slider-title .main-page-text .subtitle-text2:before{
	display: block;                
    width:22%;                    
    content: '';                    
    position: absolute;             
    border-bottom: 1px solid #f8f8f8;   
    top:52%;                        
    right: -28%; 
    box-shadow: black 3px 4px 12px 3px;
}
.slider-title .main-page-text .subtitle-text2:after{
	display: block;                
    width:22%;                    
    content: '';                    
    position: absolute;             
    border-bottom: 1px solid #f8f8f8;   
    top: 52%;                        
    left: -28%; 
    box-shadow: black 3px 4px 12px 3px;
}
.start-content .text2 ul{
	list-style-type: none;
}
.start-content .main-info {
	column-count: 2;
	column-gap: 200px;
}
.start-content .offer-list li a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #272829;
	transition: .2s ease-in-out;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 10px;
	font-weight: 400;
}
.start-content .text2 h3{
	margin: 0px -35px;
}
.start-content .offer-list a:hover{
	color: #ad8d4b;
}
.start-content{
	padding: 90px 0 90px 0;
}
.start-content .text2 .offer-list li:before{
	content: '';
    display: block;
    position: relative;
    top: 20px;
    right: 40px;
    width: 22px;
    height: 22px;
    background: url("../img/list_icon.png");
}
.start-content h2 > em{
	display: block;
    text-transform: none;
    font-style: italic;
    font-family: "Merriweather",serif;
    font-size: 34px;
    line-height: 1.25;
    color: #272829;
    font-weight: 700;
    padding-bottom: 5px;
}
.start-content h2{
	font-size: 48px;
    line-height: 1.2;
    color: #272829;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    margin-bottom: 22px;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
}
.start-content h3{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
}
.start-content h2:before{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background: #c6a259;
}
.start-content p{
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	color: #1d1d1d;
	line-height: 22px;
}
.more{
	font-family: "Merriweather",serif;
    font-size: 16px;
    line-height: 24px;
    color: #c6a259;
    font-weight: 400;
    text-transform: lowercase;
    display: inline-block;
    transition: .3s;
    font-style: italic;
    padding: 30px 0 0;
    position: relative;
}
.more:hover{
	color:#c6a259;
}
.more:before{
	content: '';
    display: block;
    position: absolute;
    right: -26px;
    bottom: 9px;
    height: 5px;
    width: 17px;
    background: url('../img/more-arrow.png') no-repeat;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
<<<<<<< HEAD
.more:hover:before{
	right: -40px;
=======
.more:hover:before {
	right: -30px;
}
.bg2{
	width: 100%;
}
.main-text{
  margin: 0 auto
>>>>>>> fcae8a570799b662bce872add97c7169b28675ba
}
.services .con {
	display: flex;
	justify-content: space-between;
	padding: 50px 0px 50px 0px;
}
.text-block {
	text-align: center;
}
.services a {
	color: white;
	transition: .2s ease-in-out;
	text-decoration: none;
}
.services a img {
	transition: .2s ease-in-out;
}
.services {
	background-image: url("../img/bg2_02.jpg");
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    padding: 50px 0px 30px 0px;
}
.services h3 {
	font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: 'Merriweather',serif;
    text-decoration: none;
    font-style: italic;
}
.services .con  a:hover {
	color: #ad8d4b;
}
.services .con  a:hover img {
	opacity: .5;
}
.image {
	width: 115px;
	height: 86px;
	background-image: url('../img/flower.png');
	background-size: cover;
	margin-left: 15px;
	margin-bottom: 20px;
}
.image.second-image{
	background-image: url('../img/water.png');
}
.image.third-image{
	background-image: url('../img/car.png');
}
.image.fourth-image{
	background-image: url('../img/lighter.png');
}
.services .services-wrapp a{
	font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    display: block;
}
.services .services-wrapp{
	width: 230px;
	height: 230px;
	position: relative;
	transition: .2s ease-in-out;
}
.services .services-wrapp:before{
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 232px;
	height: 232px;
	border: 1px dashed #8e877a;
}
.services-wrapp:hover{
  background:#ad8d4b;
}
.services .services-wrapp a{
	display: block;
	padding: 40px;
}
.content2 {
	background-image: url('../img/tree.png');
	background-repeat: no-repeat; 
    background-size: 30% 105%;
    background-position-x: 7%;
	padding: 130px 0;
	position: relative;
}
.content2:before{
	background-color: #faf9f3;
	content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
.content2 .content-menu h3{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 500;
	padding-bottom: 50px;
}
.content2 .content-menu .text4 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	padding: 0px 30px 0px 0px;
	font-style:italic;
}
.content2 .content-menu .text3 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}
.content2 .content-menu .text4 span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.content2 .content-menu .text4{
	position: relative;
}
.content2 .content-menu {
	column-count: 2;
	column-gap: 200px;
}
.content2 .content-menu .text4:before {
	content: '';
    display: block;
    position: absolute;
	top: 28%;
    left: -5%;
    width: 25px;
    height: 17px;
    background: url('../img/kavichki.png') no-repeat;
}
.content2 .content-menu .text4:after {
	content: '';
    display: block;
    position: absolute;
   	bottom: 15%;
   	right: 10%;
    width: 25px;
    height: 17px;
    background: url('../img/kavichki.png') no-repeat;
    transform: rotate(180deg);
}
.content3 {
	background-image: url("../img/bg_04.jpg");
	text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    text-transform: uppercase;
	color: white;
	padding: 130px 0 0;
	height: 450px;
	line-height: 1.4;
}
.content3 .text-menu h2{
	font-family: 'Merriweather', serif;
	font-size: 50px;
	font-style: italic;
	font-weight: 700;
	text-transform: none;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
}
.content3 .text-menu span{
	font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
.content3 a{
    text-decoration: none;
    font-family: "Merriweather",serif;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    padding: 15px 40px;
    background: #c6a259;
    text-shadow: none;
    position: relative;
    transition: .2s ease-in-out;
}
.content3 .request a:before{
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #c6a259;
}
.content3 .request a:hover{
	background:#000;
}
.content3 .request{
    padding-top: 50px;
}
.contacts{
	position: relative;
	padding: 80px 0 60px 0;
}
.contacts .contacts-info{
	display: flex;
	justify-content: space-between;
}
.contacts .left > li{
	padding-right: 25px;
}
.contacts .right > li{
	padding-right: 25px;
}
.contacts .logo-down{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 125px;
}
.contacts .logo-down img{
	height: 125px;
}
.contacts .left{
	display: flex;
}
.contacts .right{
	display: flex;
}
.contacts .right .first-am{
	padding-left: 10px;
}
.contacts .right .second-am{
	padding-left: 35px;
}
.contacts a{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 25px;
	color: #ad8d4b;
	text-decoration: none;
}
.contacts li >h5{
	font-family: Merriweather;
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 15px;
}
.contacts li{
	margin-right: 50px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
}
.contacts i{
    font-size: 20px;
    line-height: 32px;
    color: #c6a259;
    font-weight: 400;
    height: 33px;
    width: 33px;
	padding-left: 5px;
}
.contacts a i:hover{
	color:black;
	border: 1px solid #e8ede7;
	border-radius: 10px 0px 10px 0px;
}
.copyrights{
	font-family: 'Open Sans';
	font-size: 12px;
    font-weight: 400;
    color: #c8d4cd;
    padding: 25px 0px 0px 0px;
    text-align: center;
    background: #272829;
    text-transform: uppercase;
    height: 65px;
}
.copyrights p{
	display: inline-block;
	padding-right: 30px;
}
.copyrights span{
	display: inline-block;
}
.copyrights a{
	color:#9c814c;
}
@media screen and (max-width: 1270px){
	.menu li  ul{
    left: 16%;
	}
	.menu li > ul li a{
		font-size: 12px;
	}
	.menu li > a{
		font-size: 13px;
	}
	.menu ul .fa-angle-down{
		font-size: 15px;
	}
}
@media screen and (max-width: 1100px){
	.container{
		max-width: 1000px;
	}
	.menu .top-left > li{
		padding-right: 15px;
	}
	.menu .top-right > li{
		padding-left: 15px;
	}
	.menu li  ul{
    	left: 20%;
	}
	.fa-phone-alt:before{
		position: absolute;
		top: 0;
		left: -35px;
	}
	.start-content h2{
		font-size: 40px;
	}
	.contacts .left > li{
		padding-right: 0px;
	}
	.contacts .right > li{
		padding-right: 0px;
	}
}